<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

   {{>navbar}}

   <!-- main header  -->
   
   <div class="container main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left align-items-center">
                <figure>
                  <img src="images/404.png" alt="404Error" class="img-fluid" title="page not found 404">
                </figure>                     
             <p>Welcome to Govinda Technical world</p>
             <h1>{{errMsg}}</h1>
              <a href="/"><button>Go Back</button></a>
              </div>
            </div>                  
        </div>
      </div>      
   </div>  

   <!-- footer code  -->
  {{>footer}}

</body>
</html>